server:
  port: 8086

spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        globally_quoted_identifiers: true
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/rest_organization
    username: postgres
    password: erferferf

management:
  endpoint:
    prometheus:
      enabled: true
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: health, metrics, prometheus, mappings
  prometheus:
    metrics:
      export:
        enabled: true

jpa:
  repository:
    packages: org.example.codefox.domainpole.repositories
    ms:
      entity: org.example.codefox.domainpole.entities

